body {
  color: #333;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 0 16px;
  height: 100vh;

}

.start-pic {
  width: 90%;
  text-align: center;
}

.css-1fu7jd5-MuiButtonBase-root-MuiButton-root {
  background-color: #5c6bc0!important;
}

.css-xsqe0f-MuiButtonBase-root-MuiButton-root {
  border-color: #5c6bc0!important;
  color: #5c6bc0!important;
}